html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #eaeaea;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*Colores background*/
.primary-background { background-color: #08d9d6; }
.secondary-background { background-color: #252a34; }
.tertiary-background { background-color: #ff2e63; }
.cuartiary-background { background-color: #eaeaea; }

/*Colores texto*/
.primary-text { color: #08d9d6; }
.secondary-text { color: #252a34; }
.tertiary-text { color: #ff2e63; }
.cuartiary-text { color: #eaeaea; }